@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');



*{
   margin:0 auto;
   box-sizing: border-box;
}


html{
    font-family: 'Roboto', sans-serif;

    
}


.header{
    display: flex;
    background-image: url(../img/header2.jpg);
    flex-direction: column;
    align-items: center; 
    background-repeat: no-repeat;
    background-size: contain;
}

.header__divh2{
    max-width: 100%;
    color:#010f4f;
    align-items: center;
    font-size: x-large;


}


.form__parrafoNbus{
    margin-top: 30px;
    background:#fff;
    color:eae5e1;
    border-radius:6px;
    box-shadow:10px 10px 40px -14px #000;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.icobus{
    width: 70px;
    height: 60px;
}

.numberBus{
    border-radius: 10px;
    border: solid;
    border-color:#010f4f;
    background-color: rgba(0, 0, 0, .1) ;
    width: 30%;
    text-align: center;
}


.Nbus{
    color:#000;
    font-size:larger;

}

.form__parrafo__p{
    margin-left: 3%;
    width: 80%;
    font-size:13px;
    font:12px/30px;
}







/*ESTILOS PARA PANTALLAS PEQUEÑAS*/
@media screen and (max-width:486px) {

    .header{
        display: flex;
        background-size:contain;
        background-repeat:no-repeat;
        flex-direction: column;
        align-items: center; 
        max-width: 520px;
        background-image: url(../img/granEmp1.jpg);
        }


    .header__divh2{
        margin-top: 200px;
        max-width: 100%;
        color:#010f4f;
        align-items: center;
        font-size: x-large;

    }

    
    .main{
        display: flex;
        background-image: url(../img/medio.jpg);
        background-size: contain;
        background-repeat: round;
        flex-direction: column;
        max-width: 100%;
        
    }


    .form__parrafo__TextArea{
        display: none;
        width: 100%;
        
    }

    .form__parrafo__TextareaR{
        width: 100%;
        margin-left: 5px;
    }

    .imgcheckB{
        display: none;
    }

    .form input[type="checkbox"]{
        display: none;
    }

/*
.form .form__parrafo__divcheckBox label {
    color:#0074D9;
    background: rgba(0, 0, 0, .1);
    padding:  5px 15px 7px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 3px;
    cursor:pointer;
    margin-bottom: 5px;

}
*/

    .form .form__parrafo__divcheckBox label:hover{
        background: rgba(0, 116, 217, 0.3);
    }

    .form .form__parrafo__divcheckBox label:before{
        content: "";
        width: 17px;
        height: 17px;
        display: inline-block;
        background: none;
        border: 3px solid #010f4f;
        border-radius: 50%;
        position: absolute;
        left:17px;
        bottom: 5px;
    }

    .form input[type="checkbox"]:checked + label{
        padding: 5px 15px;
        background: #010f4f;
        border-radius: 2px;
        color:#fff
    }


    .form input[type="checkbox"]:checked + label:before{
        display: none;
    }


    .labelsi{
        color:#010f4f;
        background: rgba(0, 0, 0, .1);
        padding:  5px 15px 7px 60px;
        display: inline-block;
        position: relative;
        font-size: 1em;
        border-radius: 3px;
        cursor:pointer;
        margin-bottom: 5px;
    }

    .labelno{
        color:#010f4f;
        background: rgba(0, 0, 0, .1);
        padding:  5px 15px 7px 51px;
        display: inline-block;
        position: relative;
        font-size: 1em;
        border-radius: 3px;
        cursor:pointer;
        margin-bottom: 5px;
    }

    

    .numberBus{
        border-radius: 10px;
        border: solid;
        border-color:#010f4f;
        background-color: rgba(0, 0, 0, .1) ;
        width: 30%;
        height: 15px;
    }

    

    .form__parrafoNbus{
        margin-top: 30px;
        background:#fff;
        color:eae5e1;
        width: 95%;
        padding:16px 4px 16px 0;
        border-radius:6px;
        box-shadow:10px 10px 40px -14px #000;
        display:flex;
        justify-content: center;
        align-items: center;
    }



    .ButtonSend{
        margin-top: 30px;
        border-radius: 10px;
        width: 40%;
        display: block;
        
    }

    .Nbus{
        padding-left: 5px;
        
    }

    .form__parrafo__p{
        margin-right: 3px;
    }

    .form__parrafo__TextArea{
        margin-left:13px;
        width: 70%;
    }

    .form__parrafo__TextareaR{
        width: 100%;
        margin-left: 5px;
        
        
    }
    

}




@media screen and (max-width:800px) {

    .header{
      
        max-width: 768px;
    }
    

    .header__divh2{
        margin-top: 50%;
    }

    .form{
        max-width: 800px;
    }

    .form__parrafoNbus{
        width: 75%;
        height: 45px;
    }

    .form__parrafo__TextArea{
        display: none;
        width: 90%;
        margin-left: 50px;
    }

    

    .form__parrafo__TextareaR{
        width: 100%;
        margin-left: 5px;
        
        
    }

    .imgcheckB{
        display: none;
    }

    .form input[type="checkbox"]{
        display: none;
    }


    


    .form .form__parrafo__divcheckBox label:hover{
        background: rgba(0, 116, 217, 0.3);
    }

    .form .form__parrafo__divcheckBox label:before{
        content: "";
        width: 17px;
        height: 17px;
        display: inline-block;
        background: none;
        border: 3px solid #010f4f;
        border-radius: 50%;
        position: absolute;
        left:17px;
        bottom: 5px;
    }

    .form input[type="checkbox"]:checked + label{
        padding: 5px 15px;
        background: #010f4f;
        border-radius: 2px;
        color:#fff
    }


    .form input[type="checkbox"]:checked + label:before{
        display: none;
    }


    .labelsi{
        color:#010f4f;
        background: rgba(0, 0, 0, .1);
        padding:  5px 15px 7px 60px;
        display: inline-block;
        position: relative;
        font-size: 1em;
        border-radius: 3px;
        cursor:pointer;
        margin-bottom: 5px;
    }

    .labelno{
        color:#010f4f;
        background: rgba(0, 0, 0, .1);
        padding:  5px 15px 7px 51px;
        display: inline-block;
        position: relative;
        font-size: 1em;
        border-radius: 3px;
        cursor:pointer;
        margin-bottom: 5px;
    }

    .form__parrafo__TextArea{
        margin-left:13px;
        width: 90%;
    }

}





/*ESTILOS HASTA MAXIMO md 761PX HASTA 1024PX*/
@media screen and (max-width:1024px) {



}




/*ESTILOS HASTA MAXIMO lg 1025PX HASTA 1280PX*/
@media screen and (max-width:1280px) {



}


/*ESTILOS HASTA MAXIMO xl 1025PX HASTA 1280PX*/
@media screen and (max-width:1280px) {



}




.form{
    width:100%;
    background:#eae5e1;
    box-shadow:0 0 0 -10px #000;
    padding:20px 30px;
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    margin-top: 70px;
    display: inline-block;
    
    
}

.header__divh2{
    text-align: center;
    width:100%;
    color:#010f4f;
    display: flex;
}


.form__subparrafo{
    display: flex;
}


.form__h2__p:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5a5a5a
}





.ButtonSend{
    
    padding:8px 12px;
    border:2px solid #78788c;
    color:#5a5a6e;
    cursor:pointer;
    

    
}

.ButtonSend:hover{
    background-color:#010f4f;
    color:#fff
}

.form__card{
    
    
    background:#50505a;
    color:#fff;
    width: 100%;
    padding:16px 4px 16px 0;
    border-radius:6px;
    font-size:13px;
    box-shadow:10px 10px 40px -14px #000;
    display:flex;
    justify-content: center;
    flex-direction: column;    
}

.form__card__image{
    width: 95%;
    border-radius: 10px;
}

.form__card__resume{
    width: 95%;
    margin-top: 20px;
   
    background-color: #010f4f;
    color:#fff;
    border-radius: 10px;
    
}


.form__card__resume--h5{
    text-align: center;
    font-size: larger;
   
    text-justify: inter-word;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    
}


/*ESTILOS PARA LOS CHECK BOX */
/*
input[type=checkbox] {
	visibility: hidden;
}

.form__parrafo__divcheckBox {
	display: inline-block;
	position: relative;
    width: 70px;
	height: 30px;
	background: #555;
	border-radius: 15px;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.6), 0px 1px 0px rgba(255,255,255,0.3);   
}

.form__parrafo__divcheckBox label {

    /* aspecto 
    display: block;
    width: 34px;
	height: 20px;
	border-radius: 17px;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
	background: #fcfff4;
	background: linear-gradient(to top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    cursor: pointer;


    /* Posicionamiento 
    position: absolute;
    top: 5px;
	left: 5px;
    z-index: 1;
    
	/* Comportamiento 
    transition: all .4s ease;
    
    /* ocultar el posible texto que tenga 
    overflow: hidden;
    text-indent: 35px;  
    transition: text-indent 0s;
}

/* estado activado 
.form__parrafo__divcheckBox input[type=checkbox]:checked + label {
	left: auto;
    right: 5px;
}


.form__parrafo__divcheckBox:before {
	content: 'SÍ';
	font: 12px/30px Arial, sans-serif;
	color: lime;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

*/
.form__parrafo {
    margin-top: 30px;
    background:#fff;
    color:eae5e1;
    width: 95%;
    padding:16px 4px 16px 0;
    border-radius:6px;
    box-shadow:10px 10px 40px -14px #000;
    display:block;
    justify-content: center;
   
}
  



.card__image__des{
    border-radius: 10px;
    width: 50px;
    height: 50px;
  }

  .imgcheckB{
      width: 100px;
      height: 100px;
  }